:root {
  --c-primary-0: 0, 0%, 0%;
  --c-primary-10: 256, 100.0%, 11.0%;
  --c-primary-20: 256, 100.0%, 16.0%;
  --c-primary-30: 255, 100.0%, 22.0%;
  --c-primary-40: 255, 100.0%, 26.0%;
  --c-primary-50: 255, 91.0%, 34.0%;
  --c-primary-60: 256, 70.0%, 44.0%;
  --c-primary-70: 256, 80.0%, 59.0%;
  --c-primary-80: 256, 79.0%, 74.0%;
  --c-primary-90: 255, 100.0%, 89.0%;
  --c-primary-95: 254, 100.0%, 95.0%;
  --c-primary-99: 253, 100.0%, 98.0%;
  --c-primary-100: 0, 0%, 100.0%;

  --c-secondary-0: 0, 0%, 0%;
  --c-secondary-10: 253, 26.0%, 13.0%;
  --c-secondary-20: 258, 18.0%, 22.0%;
  --c-secondary-30: 258, 13.0%, 31.0%;
  --c-secondary-40: 259, 11.0%, 40.0%;
  --c-secondary-50: 253, 9.0%, 49.0%;
  --c-secondary-60: 255, 12.0%, 60.0%;
  --c-secondary-70: 245, 17.0%, 70.0%;
  --c-secondary-80: 252, 27.0%, 81.0%;
  --c-secondary-90: 249, 65.0%, 92.0%;
  --c-secondary-95: 263, 100.0%, 96.0%;
  --c-secondary-99: 315, 100.0%, 99.0%;
  --c-secondary-100: 0, 0%, 100.0%;

  --c-tertiary-0: 0, 0%, 0%;
  --c-tertiary-10: 197, 79.0%, 15.0%;
  --c-tertiary-20: 196, 64.0%, 24.0%;
  --c-tertiary-30: 194, 70.0%, 27.0%;
  --c-tertiary-40: 193, 82.0%, 31.0%;
  --c-tertiary-50: 192, 91.0%, 36.0%;
  --c-tertiary-60: 189, 94.0%, 43.0%;
  --c-tertiary-70: 188, 86.0%, 53.0%;
  --c-tertiary-80: 187, 92.0%, 69.0%;
  --c-tertiary-90: 186, 94.0%, 82.0%;
  --c-tertiary-95: 185, 96.0%, 90.0%;
  --c-tertiary-99: 183, 100.0%, 96.0%;
  --c-tertiary-100: 0, 0%, 100.0%;

  --c-error-0: 0, 0%, 0%;
  --c-error-10: 3, 71.0%, 15.0%;
  --c-error-20: 3, 71.0%, 22.0%;
  --c-error-30: 3, 71.0%, 32.0%;
  --c-error-40: 3, 71.0%, 41.0%;
  --c-error-50: 3, 71.0%, 52.0%;
  --c-error-60: 3, 71.0%, 64.0%;
  --c-error-70: 3, 71.0%, 74.0%;
  --c-error-80: 3, 70.0%, 83.0%;
  --c-error-90: 4, 71.0%, 92.0%;
  --c-error-95: 0, 70.0%, 96.0%;
  --c-error-99: 20, 100.0%, 99.0%;
  --c-error-100: 0, 0%, 100.0%;

  --c-neutral-0: 0, 0%, 0%;
  --c-neutral-4: 245, 92.2%, 10%;
  --c-neutral-6: 244, 84.4%, 12.5%;
  --c-neutral-10: 245, 76.9%, 15.3%;
  --c-neutral-12: 244, 69.6%, 18%;
  --c-neutral-17: 244, 64.5%, 21%;
  --c-neutral-20: 244, 58.1%, 24.3%;
  --c-neutral-22: 244, 53.2%, 27.6%;
  --c-neutral-24: 243, 47.5%, 31.4%;
  --c-neutral-30: 243, 42.7%, 34.9%;
  --c-neutral-40: 243, 38.4%, 38.8%;
  --c-neutral-50: 242, 34.2%, 42.9%;
  --c-neutral-60: 242, 30.3%, 47.3%;
  --c-neutral-70: 242, 28.5%, 51.8%;
  --c-neutral-80: 242, 30.0%, 56.3%;
  --c-neutral-87: 242, 30.7%, 61.0%;
  --c-neutral-90: 242, 32.2%, 65.9%;
  --c-neutral-92: 241, 33.8%, 71.0%;
  --c-neutral-94: 240, 35.0%, 76.5%;
  --c-neutral-95: 240, 37.0%, 82.0%;
  --c-neutral-96: 240, 37.5%, 87.5%;
  --c-neutral-98: 240, 50.0%, 97.6%;
  --c-neutral-99: 240, 100.0%, 99.2%;
  --c-neutral-100: 0, 0, 100.0%;

  --c-neutral-variant-0: 0, 0%, 0%;
  --c-neutral-variant-10: 244, 91.1%, 8.8%;
  --c-neutral-variant-20: 254, 77.5%, 13.9%;
  --c-neutral-variant-30: 254, 63.1%, 20.2%;
  --c-neutral-variant-40: 254, 50.7%, 27.1%;
  --c-neutral-variant-50: 254, 40.9%, 34.5%;
  --c-neutral-variant-60: 254, 32.4%, 42.9%;
  --c-neutral-variant-70: 255, 26.5%, 52.0%;
  --c-neutral-variant-80: 254, 28.9%, 62.0%;
  --c-neutral-variant-90: 254, 30.0%, 72.5%;
  --c-neutral-variant-95: 254, 30.1%, 83.7%;
  --c-neutral-variant-99: 240, 20.0%, 96.1%;
  --c-neutral-variant-100: 0, 0%, 100.0%;
}

:root {
  --c-primary-fixed: var(--c-primary-90);
  --c-on-primary-fixed: var(--c-primary-10);
  --c-on-primary-fixed-variant: var(--c-secondary-30);
  --c-primary-fixed-dim: var(--c-primary-80);

  --c-secondary-fixed: var(--c-secondary-90);
  --c-on-secondary-fixed: var(--c-secondary-10);
  --c-on-secondary-fixed-variant: var(--c-secondary-30);
  --c-secondary-fixed-dim: var(--c-secondary-80);

  --c-tertiary-fixed: var(--c-tertiary-90);
  --c-on-tertiary-fixed: var(--c-tertiary-10);
  --c-on-tertiary-fixed-variant: var(--c-tertiary-30);
  --c-tertiary-fixed-dim: var(--c-tertiary-80);
}
