html,
body,
#__nuxt {
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* html.dark {
  color-scheme: dark;
} */

html {
  --at-apply: transition duration-100 ease-in-out;
  --at-apply: font-$font-family;
}
