:root {
  --c-primary: var(--c-primary-40);
  --c-primary-container: var(--c-primary-90);
  --c-on-primary: var(--c-primary-100);
  --c-on-primary-container: var(--c-primary-10);

  --c-secondary: var(--c-secondary-40);
  --c-secondary-container: var(--c-secondary-90);
  --c-on-secondary: var(--c-secondary-100);
  --c-on-secondary-container: var(--c-secondary-10);

  --c-tertiary: var(--c-tertiary-40);
  --c-tertiary-container: var(--c-tertiary-90);
  --c-on-tertiary: var(--c-tertiary-100);
  --c-on-tertiary-container: var(--c-tertiary-10);

  --c-error: var(--c-error-40);
  --c-error-container: var(--c-error-90);
  --c-on-error: var(--c-error-100);
  --c-on-error-container: var(--c-error-10);
  
  --c-surface: var(--c-neutral-98);
  --c-surface-dim: var(--c-neutral-87);
  --c-surface-bright: var(--c-neutral-98);

  --c-on-surface: var(--c-neutral-10);
  --c-on-surface-variant: var(--c-neutral-variant-30);
  --c-outline: var(--c-neutral-variant-60);
  --c-outline-variant: var(--c-neutral-variant-80);

  --c-surface-container: var(--c-neutral-94);
  --c-surface-container-low: var(--c-neutral-96);
  --c-surface-container-lowest: var(--c-neutral-100);
  --c-surface-container-high: var(--c-neutral-92);
  --c-surface-container-highest: var(--c-neutral-90);

  --c-inverse-surface: var(--c-neutral-20);
  --c-inverse-on-surface: var(--c-neutral-95);
  --c-inverse-primary: var(--c-primary-80);
  
  --c-scrim: var(--c-neutral-0);
  --c-shadow: var(--c-neutral-0);

  --c-logo-i: var(--c-logo-i);
  --c-logo-np: var(--c-logo-np-light);
  --c-logo-rv: var(--c-logo-rv);
  --c-logo-oe: var(--c-logo-oe);
}

.dark {
  --c-primary: var(--c-primary-80);
  --c-primary-container: var(--c-primary-30);
  --c-on-primary: var(--c-primary-20);
  --c-on-primary-container: var(--c-primary-90);

  --c-secondary: var(--c-secondary-80);
  --c-secondary-container: var(--c-secondary-30);
  --c-on-secondary: var(--c-secondary-20);
  --c-on-secondary-container: var(--c-secondary-90);

  --c-tertiary: var(--c-tertiary-80);
  --c-tertiary-container: var(--c-tertiary-30);
  --c-on-tertiary: var(--c-tertiary-20);
  --c-on-tertiary-container: var(--c-tertiary-90);

  --c-error: var(--c-error-80);
  --c-error-container: var(--c-error-30);
  --c-on-error: var(--c-error-20);
  --c-on-error-container: var(--c-error-90);
  
  --c-surface: var(--c-neutral-6);
  --c-surface-dim: var(--c-neutral-6);
  --c-surface-bright: var(--c-neutral-24);

  --c-on-surface: var(--c-neutral-90);
  --c-on-surface-variant: var(--c-neutral-variant-80);
  --c-outline: var(--c-neutral-variant-60);
  --c-outline-variant: var(--c-neutral-variant-30);

  --c-surface-container: var(--c-neutral-12);
  --c-surface-container-low: var(--c-neutral-10);
  --c-surface-container-lowest: var(--c-neutral-4);
  --c-surface-container-high: var(--c-neutral-17);
  --c-surface-container-highest: var(--c-neutral-22);

  --c-inverse-surface: var(--c-neutral-90);
  --c-inverse-on-surface: var(--c-neutral-20);
  --c-inverse-primary: var(--c-primary-40);
  
  --c-scrim: var(--c-neutral-0);
  --c-shadow: var(--c-neutral-0);

  --c-logo-i: var(--c-logo-i);
  --c-logo-np: var(--c-logo-np-dark);
  --c-logo-rv: var(--c-logo-rv);
  --c-logo-oe: var(--c-logo-oe);
}
